body {
    background-color: #fffcf5;
}

h4 {
    color: #374375;
    text-align: center;
    font-family: trebuchet;
    font-size: medium;
    font-style: italic;
}

.box {
    background: #567c8d;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 25px;
    width: 1165px;
    height: 900px;
}

img {
    margin-right: 800px;
    margin-top: 50px;
    width: 250px;
    height: 400px;
    border-radius: 20px;
}